<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.ReserveMapper" >
  <resultMap id="BaseResultMap" type="com.demo.entity.Reserve" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="food" property="food" jdbcType="VARCHAR" />
    <result column="sumprice" property="sumprice" jdbcType="DECIMAL" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="YN" property="yn" jdbcType="VARCHAR" />
  </resultMap>
</mapper>