<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.demo.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
  </resultMap>

  <select id="findUser" parameterType="com.demo.entity.User" resultType="com.demo.entity.User">
        SELECT * FROM user WHERE username = #{userName}
    </select>

    <select id="getNickname" parameterType="com.demo.entity.User" resultType="java.lang.String">
        select nickname from user where username=#{username}
    </select>
    <select id="findAll" resultType="com.demo.entity.User">
        select * from user
    </select>
    <insert id="add" parameterType="com.demo.entity.User">
        insert into user(username,password,nickname) values (#{username},#{password},#{nickname})
    </insert>

</mapper>